  apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: my-app
    namespace: my-namespace
  spec:
    replicas: 3  # Desired number of pod replicas
    selector:
      matchLabels:
        app: my-app
    template:
      metadata:
        labels:
          app: my-app
      spec:
        containers:
        - name: nginx
          image: nginx:1.14
          ports:
          - containerPort: 80
