apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: web-server
  template:
    metadata:
      labels:
        app: web-server
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 80
-----

apiVersion: v1
kind: Service
metadata:
  name: my-web-service
spec:
  selector:
    app: web-server # Matches the label in the Deployment
  ports:
    - protocol: TCP
      port: 80        # Port the Service listens on
      targetPort: 80  # Port the Pod is listening on
  type: LoadBalancer

-------

apiVersion: v1
kind: Service
metadata:
  name: internal-db-service
spec:
  type: ClusterIP # Optional, as it's the default
  selector:
    app: mongodb
  ports:
    - port: 27017
      targetPort: 27017
-------

apiVersion: v1
kind: Service
metadata:
  name: web-nodeport
spec:
  type: NodePort
  selector:
    app: web-server
  ports:
    - port: 80
      targetPort: 80
      nodePort: 31000 # Must be between 30000-32767



---
